.lidar-label {
  margin-top: 0px;
  opacity: 1.0;
  transition: margin-top 0.5s, opacity 1.5s;
}
.lidar-label .lidar-label-name {
  display: inline-block;
  padding: 2px 8px;
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ebebeb;
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: -o-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffcccccc', GradientType=0);
  border-color: #cccccc #cccccc #a6a6a6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.lidar-label .lidar-label-data {
  white-space: nowrap;
}
.lidar-label.animated-out {
  margin-top: 20px;
  opacity: 0;
}
